/* Estilo por defecto */
body {
  --ion-background-color: rgba(51, 51, 51, 1); /* Cambia a gris oscuro */
  --ion-text-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100vh;
}

body.dark {
  --ion-background-color: #ffffff;
  --ion-text-color: #ffffff;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura */
  background: var(--ion-background-color);
}

ion-menu {
  --width: 250px;
  --background: var(--ion-background-color);
}

ion-item {
  --background: rgb(0, 190, 255); /* Un azul claro y vibrante */
  --color: rgb(255, 255, 255); /* Color del texto inicial */
  border-radius: 0; /* Sin bordes redondeados inicialmente */
  transition: background 0.3s ease, border-radius 0.3s ease; /* Transición suave */
}

ion-item:hover {
  border-radius: 3px; /* Bordes redondeados al hacer hover */
  --background: rgb(60, 60, 61); /* Fondo al hacer hover */
}

ion-menu-button {
  color: var(--ion-text-color);
  font-size: 35px; /* Tamaño ajustado para mejor visibilidad */
  padding: 0 10px; /* Espaciado para que no se vea apretado */
  border-radius: 3; /* Sin bordes redondeados inicialmente */
  transition: background 0.3s ease, border-radius 0.3s ease; /* Transición suave */
}

ion-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacio entre el título y el menú */
  padding: 0 10px; /* Espaciado uniforme */
  background: var(--ion-background-color);
}

ion-title {
  text-align: left; /* Alinear a la izquierda */
  color: var(--ion-text-color);
  font-size: 1.5rem; /* Tamaño más legible */
  font-weight: 600; /* Peso para mejor estética */
  margin: 0; /* Elimina márgenes por defecto */
  flex: 1; /* Ocupa el espacio restante */
}

ion-content {
  --transition: all 0.3s ease-in-out;
  --background: var(--ion-background-color);
  overflow-y: auto;
  flex: 1 0 auto; /* Crece para llenar el espacio disponible */
}

ion-footer {
  flex-shrink: 0; /* Evita que el footer se encoja */
  padding: 10px;
  border-top: 1px solid #e0e0e0;
  background: var(--ion-background-color);
  color: var(--ion-text-color);
  z-index: 10;
}

body.dark ion-footer {
  border-top: 1px solid #404040;
}

.ion-text-start img {
  display: block;
  max-width: 60px;
  height: auto;
}

.ion-text-end button {
  margin: 0 5px;
}

ion-button {
  margin: 0 5px;
}

ion-icon {
  font-size: 24px;
}

@media (max-width: 768px) {
  ion-menu {
    --width: 200px;
  }

  ion-title {
    font-size: 1.3rem; /* Ajuste para pantallas pequeñas */
  }
}