@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --mint-green: #bee9e8ff;
  --moonstone: #62b6cbff;
  --indigo-dye: #1b4965ff;
  --columbia-blue: #cae9ffff;
  --picton-blue: #5fa8d3ff;
  --dark-blue: #050530;
  --font: "Josefin Sans", sans-serif;
}

/* Estilos para los ítems del menú */
.app-container .menu-item {
  transition: all 0.3s ease;
}

.app-container .menu-item:hover {
  background-color: var(--mint-green);
  transform: translateX(5px);
}

.app-container .menu-item:active {
  transform: scale(0.98);
}

/* Estilos para el encabezado del menú */
.app-container ion-menu ion-header {
  background: var(--indigo-dye);
  padding: 10px 0;
}

.app-container ion-menu ion-title {
  color: var(--columbia-blue);
  font-size: 1.2em;
  font-weight: bold;
}

/* Estilos para el contenido del menú */
.app-container ion-menu ion-content {
  --background: var(--mint-green);
}

/* Estilos para los íconos */
.app-container ion-menu ion-icon {
  margin-right: 10px;
}

.app-container .custom-toolbar {
  background: var(--indigo-dye) !important;
  padding: 10px 0;
}

.app-container .custom-toolbar ion-title {
  color: var(--columbia-blue);
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

/* Estilos para el footer */
.app-container .footer {
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  margin-top: 10px;
  position: relative;
  background-color: var(--columbia-blue);
}

.app-container .footer-contact p,
.app-container .footer-icons,
.app-container .footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0;
  font-family: var(--font);
  color: var(--dark-blue);
}

.app-container .footer-icons ion-icon {
  font-size: 14px;
  margin: 0 5px;
  cursor: pointer;
}

.app-container .footer-icons ion-icon:hover {
  color: var(--moonstone);
}

/* Estilos para el contenido principal */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu-item:hover {
  background-color: var(--moonstone) !important;
  color: var(--indigo-dye) !important;
}

.menu-item:hover ion-icon,
.menu-item:hover ion-label {
  color: var(--indigo-dye) !important;
}

/* Animación de entrada para el menú */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Efecto hover para los ítems del menú */
.menu-item:hover {
  background: var(--moonstone) !important;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2) !important;
}

.menu-item:hover ion-icon,
.menu-item:hover ion-label {
  color: var(--indigo-dye) !important;
}

/* Animación de entrada para los ítems */
.menu-item {
  animation: fadeIn 0.5s ease-in-out;
}